// Definiujemy nowe wartości kolorów
$primary: #497bc5;
$secondary: #0c0e13;
$success: #3b529e;
$danger: #c0f0ff;
$warning: #33ade6;
$info: #080a16;
$light: #e8f4ff;
$dark: #1a1d23;

/* Opcjonalne style dla kontenera slajdów */
.carousel-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px; /* Wysokość slajdu */

  @media (max-width: 300px) {
    height: 250px; /* Wyższa wysokość dla mniejszych ekranów */
  }
}

.skill-logo {
  height: 1.2em; /* Dopasowanie wysokości do tekstu */
  width: auto; /* Automatyczna szerokość */
  margin-right: 0.5rem; /* Odstęp między logo a tekstem */
  vertical-align: middle; /* Wyrównanie w pionie */
}

.cursor-pointer{
  cursor: pointer;
}

// Importujemy Bootstrapa po nadpisaniu zmiennych
@import "bootstrap/scss/bootstrap";
